.about-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.about-img {
  width: 95%;
  max-width: 500px;
  height: 400px;
  object-fit: cover;
  border-radius: 5%;
}

.about-text {
  max-width: 600px;
  text-align: left;
  padding: 20px;
}

.about-me {
  color: rgb(0, 156, 218);
  font-weight: bold;
  font-size: 1.25rem;
}

.about-title {
  font-weight: bold;
  font-size: 1.25rem;
  margin-top: 10px;
}

.about-desc {
  width: 100%;
  margin-top: 15px;
  color: #666;
}

@media (min-width: 1200px) {
  .about-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 550px);
    gap: 1rem;
    align-items: center;
    justify-content: center;
  }
}