#contact {
  display: grid;
}

.contact-form-container {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 1rem;
}

.contact-title {
  max-width: 500px;
  color: rgb(0, 156, 218);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: left;
}

.contact-input, .contact-message, .contact-button {
  display: block;
  width: 100%;
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 10px;
  font-size: 1.25rem;
  font-family: Poppins;
  background-color: rgb(247, 246, 254);
}

.contact-input {
  border: none;
}

.contact-input:focus {
  outline: none;
}

.contact-message {
  min-height: 200px;
  resize: none;
  border: none;
}

.contact-message:focus {
  outline: none;
}

.contact-button {
  font-size: 1.2rem;
  background-color: rgb(188, 253, 253);
  border: none;
}

.contact-button:hover {
  box-shadow: 0px 5px 10px #999;
}