.home-container {
  text-align: center;
  height: 800px;
  margin-top: 78px;
  display: grid;
  place-items: center;
}

.home-main {
  display: flex;
}

.home-text {
  width: 500px;
  text-align: left;
}

.home-title {
  font-weight: bold;
  font-size: 45px;
}

.home-desc {
  color: #666;
  margin-top: 15px;
}

.home-links {
  display: flex;
  margin-top: 25px;
}

.home-icon {
  width: 35px;
  border-radius: 20%;
  margin-right: 15px;
}

.home-img {
  width: 400px;
  height: 350px;
  margin-left: 25px;
  border-radius: 5%;
}