.home-container {
  text-align: center;
  margin: 5rem 0rem;
  display: grid;
  place-items: center;
}

.home-main {
  display: block;
}

.home-text {
  max-width: 400px;
  text-align: left;
  padding: 25px;
}

.home-title {
  font-weight: bold;
  font-size: 45px;
}

.home-desc {
  color: #666;
  margin-top: 15px;
}

.home-links {
  display: flex;
  margin-top: 25px;
}

.home-icon {
  width: 35px;
  border-radius: 20%;
  margin-right: 15px;
}

.home-img {
  width: 100%;
  max-width: 400px;
  min-height: 350px;
  border-radius: 5%;
}

@media (min-width: 900px) {
  .home-main {
    display: flex;
    margin: 10rem 0rem;
  }

  .home-img {
    margin: 0 5rem;
  }

  .home-text {
    min-width: 400px;
  }
}