.home-container {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.home-main {
  display: grid;
  gap: 3rem;
  place-items: center;
}

.home-text {
  max-width: 400px;
  margin: auto;
  text-align: left;
}

.home-title {
  font-weight: bold;
  font-size: 45px;
}

.home-desc {
  color: #666;
  margin-top: 1rem;
}

.home-links {
  display: flex;
  margin-top: 1.5rem;
}

.home-icon {
  width: 35px;
  border-radius: 20%;
  margin-right: 15px;
  transition: transform 250ms;
}

.home-icon:hover {
  transform: translateY(-5px);
}

.home-img {
  display: block;
  width: 90%;
  max-width: 600px;
  min-height: 450px;
  margin: auto;
  object-fit: cover;
  border-radius: 5%;
}

@media (min-width: 1100px) {
  .home-container {
    padding: 15rem 0rem;
    display: grid;
    place-items: center;
  }

  .home-main {
    grid-template-columns: repeat(2, auto);
  }
}