* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#home,
#about,
#projects,
#contact {
  scroll-margin-top: 100px;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-title {
  font-size: 30px;
  font-weight: bold;
}

#nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

#nav-links li {
  list-style: none;
  margin: 0 5px;
}

#nav-links li a {
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: inherit;
  padding: 1.2rem 1.5rem;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}

#nav-links li a:hover {
  background-color: #444;
  color:rgb(188, 253, 253);
  border-radius: 10px;
}

#nav-links li a:active {
  background-color: #444;
  color: rgb(188, 253, 253);
  border-radius: 10px;
}

.mobile {
  display: none;
}

#mobile-icon {
  color: black;
  align-items: center;
}

@media screen and (max-width: 768px) {
  #nav-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 76px;
    right: -770px;
    width: 100%;
    background-color: #aaa;
    color:black;
    border-radius: 3%;
    transition: .5s ease-in-out;
  }

  #nav-links.active {
    right: 0;
  }

  #nav-links li {
    width: 100%;
    text-align: center;
    margin: 0;
  }

  #nav-links li a {
    width: 100%;
    margin: none;
    padding: none;
  }

  #nav-links li a:hover {
    color: rgb(188, 253, 253);
    background-color: #444;
  }

  .mobile {
    display: block;
  }

  #mobile-icon {
    font-size: 25px;
    cursor: pointer;
  }
}