.projects-container {  
  padding: 20px;
}

.project-title {
  color: rgb(0, 156, 218);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

.project-list {
  display: grid;
  place-items: center;
  margin-top: 1rem;
}

.project-project {
  display: grid;
  place-items: center;
}

.project-project:nth-child(3) {
  margin-top: 1.5rem;
}

.project-img {
  max-width: 450px;
  min-height: 350px;
  border-radius: 5%;
  margin: 1.5rem 0rem;
}

.project-wrapper {
  display: grid;
  align-items: center;
  text-align: center;
  min-width: 400px;
}

.portfolio-title {
  font-weight: bold;
  font-size: 20px;
}

.portfolio-desc {
  margin-top: 20px;
  margin: auto;
  color: #666;
  padding: 20px;
}

.portfolio-framework {
  margin-top: 20px;
}

.framework {
  margin: 0 1rem;
  font-weight: bold;
}

.portfolio-code-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
  display: flex;
  margin: auto;
  margin-top: 2rem;
}

.portfolio-github-icon {
  width: 25px;
  margin-left: 5px;
}

@media (min-width: 900px) {
  .projects-container {
    max-width: 1100px;
    margin: auto;
  }

  .project-title {
    text-align: left;
  }

  .project-list {
    margin-top: 4rem;
  }

  .project-project {
    display: flex;
  }
  
  .project-project:not(:first-child) {
    margin-top: 7rem;
  }

  .project-wrapper {
    max-width: 500px;
  }

  .img-right {
    margin-left: 5rem;
  }

  .img-left {
    margin-right: 5rem;
  }
}